<% random_name =["Ayush", "dhoni","kohli","Sachin","Iron Man"] %>
<% q=random_name.sample %>
<h1>Goodbye, <%= q.capitalize %> </h1>
<p> The time now is <%=Time.now %> </p>
<p> <b> <%= q.capitalize %> </b>, it's time to go to home</p>	